<form class="{{cssClass}} {{actor.type}} grid grid-5col" autocomplete="off">
    <div class="sidebar">
        {{#if (eq actor.type "character")}}
        <h1 class="class">
            <input name="name" type="text" value="{{actor.name}}" />
        </h1>
        {{/if}}
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        <div class="actor-main-info">
            {{> "systems/tovu/templates/sheets/partials/character/character-important-info.hbs"}}
        </div>
    </div>
    <div class="main-content grid-span-4">
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="stats">{{localize 'tovu.characterLabels.stats'}}</a>
            <a class="item" data-tab="items">{{localize 'tovu.characterLabels.items'}}</a>
            <a class="item" data-tab="features">{{localize 'tovu.characterLabels.features'}}</a>
            <a class="item" data-tab="spells">{{localize 'tovu.characterLabels.spells'}}</a>
            <a class="item" data-tab="description">{{localize 'tovu.characterLabels.description'}}</a>
            <a class="item" data-tab="effects">{{localize 'tovu.characterLabels.effects'}}</a>
        </nav>
        {{!-- Sheet Body --}}
        <section class="sheet-body">
            {{!-- Owned Features Tab --}}
            <div class="tab stats" data-group="primary" data-tab="stats">
            {{!-- This is a Handlebars partial. They're stored in the `/parts`
            folder next to this sheet, and defined in module/helpers/templates.mjs --}}
            {{> "systems/tovu/templates/sheets/partials/character/character-stats.hbs"}}
            </div>

            {{!-- Owned Items Tab --}}
            <div class="tab items" data-group="primary" data-tab="items">
            {{> "systems/tovu/templates/sheets/partials/character/character-items.hbs"}}
            </div>

            {{!-- Features Tab --}}
            <div class="tab features" data-group="primary" data-tab="features">
            {{> "systems/tovu/templates/sheets/partials/character/character-features.hbs"}}
            </div>

            {{!-- Owned Spells Tab --}}
            <div class="tab spells" data-group="primary" data-tab="spells">
            {{> "systems/tovu/templates/sheets/partials/character/character-spells.hbs"}}
            </div>

            {{!-- Biography Tab --}}
            <div class="tab biography" data-group="primary" data-tab="description">
            {{!-- If you want TinyMCE editors to output inline rolls when rendered,
            you need to pass the actor's roll data to the rollData property. --}}
            {{editor system.details.biography target="system.biography" rollData=rollData
            button=true owner=owner editable=editable}}
            </div>

            {{!-- Active Effects Tab --}}
            <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "systems/tovu/templates/sheets/partials/character/character-effects.hbs"}}
            </div>
        </section>
    </div>
</form>
