<section class="stats grid grid-6col">
    {{#each actor.system.abilities as |ability key|}}
    <div class="ability flexcol flex-group-center">
        <label
        for="system.abilities.{{key}}.value"
        class="resource-label rollable flexlarge align-left"
        data-roll="d20+@abilities.{{key}}.mod"
        data-label="{{ability.label}}"
        >
			{{localize (concat 'tovu.abilityShortHand.' key)}}
        </label>
        <input
            type="text"
            name="system.abilities.{{key}}.value"
            value="{{ability.value}}"
            data-dtype="Number"
        />
        <div class="profSwitch grid grid-3col">
            <span
			class="ability-mod rollable"
			data-roll="d20+@abilities.{{key}}.mod"
			data-label="{{ability.label}}">
				{{numberFormat ability.mod decimals=0 sign=true}}
            </span>
            <button
			id="proficiencyButton"
			data-field="ability.proficient"
			stats="{{key}}"
			type="stats"
			name="stats.proficiency"
			value="{{ability.proficient}}"
			class="proficiencyButton statProficiency inline-edit">
			{{#if (eq ability.proficient 0)}}
				<i class="fa-regular fa-circle"></i>
			{{else if (eq ability.proficient 1)}}
				<i class="fa-solid fa-circle"></i>
			{{/if}}
            </button>
            <span
			class="save-mod rollable"
			data-roll="d20+@abilities.{{key}}.save"
			data-label="{{key}}">
                {{numberFormat ability.save decimals=0 sign=true}}
            </span>
        </div>
    </div>
    {{/each}}
</section>
<section class="grid grid-3col">
    <section class="sidebar">
      <div class="skillsContainer flexcol">
        <h2 class="skills">{{localize 'tovu.skills.skills'}}</h2>
        {{#each actor.system.skills as |skills key|}}
        <div class="skills">
            <button
			id="proficiencyButton"
			data-field="skills.proficiency"
			skill="{{key}}"
			type="skill"
			name="skills.proficiency"
			value="{{skills.proficiency}}"
			class="proficiencyButton skillProficiency inline-edit">
			{{#if (eq skills.proficiency 0)}}
				<i class="fa-regular fa-circle"></i>
			{{else if (eq skills.proficiency 1)}}
				<i class="fa-solid fa-circle"></i>
			{{else if (eq skills.proficiency 2)}}
				<i class="fa-solid fa-circle-check"></i>
			{{else if (eq skills.proficiency 0.5)}}
				<i class="fa-solid fa-circle-half-stroke"></i>
			{{/if}}
            </button>
			<div class="skillLabel">
				<label
				for="actor.system.skills.{{key}}.value"
				class="resource-label rollable flexlarge align-left"
				data-roll="d20+@abilities.{{skills.core}}.mod"
				data-label="{{key}}">
					{{skills.label}}
				</label>
				<span class="skills-mod" name="key" value="skills.mod">{{numberFormat skills.value decimals=0 sign=true}}</span>
				<span class="skills-passive">({{skills.passive}})</span>
			</div>
        </div>
        {{/each}}
      </div>
	  <div class="toolsContainer">
		<h2 class="header">{{localize 'tovu.tools.tools'}} <button class="updateTools" data-trait="tools"><i class="fa-regular fa-square-plus"></i></button></h2>
		<div class="tools">
			{{#each actor.system.gear.tools.artisan as |tool key|}}
				{{#if tool.value }}
				<span class="toolItem artisan">{{tool.label}}</span>
				{{/if}}
			{{/each}}
			{{#each actor.system.gear.tools.gaming as |tool key|}}
				{{#if tool.value }}
				<span class="toolItem gaming">{{tool.label}}</span>
				{{/if}}
			{{/each}}
			{{#each actor.system.gear.tools.instruments as |tool key|}}
				{{#if tool.value }}
				<span class="toolItem instrument">{{tool.label}}</span>
				{{/if}}
			{{/each}}
			{{#each actor.system.gear.tools as |tool key|}}
				{{#if tool.value }}
				<span class="toolItem tools">{{tool.label}}</span>
				{{/if}}
			{{/each}}
			{{#each actor.system.gear.tools.vehicles as |tool key|}}
				{{#if tool.value }}
				<span class="toolItem vehicles">{{tool.label}}</span>
				{{/if}}
			{{/each}}
		</div>
	  </div>
    </section>

    <section class="main grid-span-2">
		<div class="sizeContainer">
			<span>{{localize "tovu.size.label"}}:</span>
			<select class="sizeSelect">
				{{selectOptions tovu.size selected=actor.system.details.size.choice nameAttr="key" labelAttr="label" localize=true}}
			</select>
		</div>
		<div class="sensesContainer">
			<span class="header">{{localize 'tovu.senses.label'}}:
				{{#each actor.system.senses as |sense key| }}
					{{#if (gt sense.value 0)}}
						<span class="senseItem">{{sense.label}} {{sense.value}}</span>
					{{/if}}
				{{/each}}
			</span>
			<button class="updateTools" data-trait="senses"><i class="fa-regular fa-square-plus"></i></button>
		</div>
		<div class="immunitiesContainer sensesContainer">
			<span class="header">{{localize 'tovu.immune'}}:
				{{#each actor.system.immune as |immune key|}}
					{{#if immune.value}}
						<span class="senseItem immuneItem">{{immune.label}}</span>
					{{/if}}
				{{/each}}
			</span>
			<button class="updateTools" data-trait="immune"><i class="fa-regular fa-square-plus"></i></button>
		</div>
		<div class="resistanceContainer sensesContainer">
			<span class="header">{{localize 'tovu.resist'}}:
				{{#each actor.system.resist as |resist key|}}
					{{#if resist.value}}
						<span class="senseItem resistItem">{{resist.label}}</span>
					{{/if}}
				{{/each}}
			</span>
			<button class="updateTools" data-trait="resist"><i class="fa-regular fa-square-plus"></i></button>
		</div>
		<div class="vulnerableContainer sensesContainer">
			<span class="header">{{localize 'tovu.vulnerable'}}:
				{{#each actor.system.vulnerable as |vulnerable key|}}
					{{#if vulnerable.value}}
						<span class="senseItem vulnerableItem">{{vulnerable.label}}</span>
					{{/if}}
				{{/each}}
			</span>
			<button class="updateTools" data-trait="vulnerable"><i class="fa-regular fa-square-plus"></i></button>
		</div>
		<div class="conditionContainer sensesContainer">
			<span class="header">{{localize 'tovu.condition.label'}}:
				{{#each actor.system.condition as |condition key|}}
					{{#if condition.value}}
						<span class="senseItem conditionItem">{{condition.label}}</span>
					{{/if}}
				{{/each}}
			</span>
			<button class="updateTools" data-trait="condition"><i class="fa-regular fa-square-plus"></i></button>
		</div>
    </section>
  </section>
