<form class="{{cssClass}} flexcol" autocomplete="off">
    <section class="sensesContainer grid grid-2col">
        <div>
            <span>{{localize "tovu.senses.label"}}: </span>
            <ul>
                {{!-- TODO: Add input field for sense value range: EG Truesight 500 --}}
                {{#each senseList as |sense key| }}
                <li>{{sense.label}} <input type="text" class="" data-key="{{key}}" value="{{sense.value}}" name="system.gear.tools.artisan.{{key}}.label" /></li>
                {{/each}}
            </ul>
        </div>
    </section>
</form>
