<form class="{{cssClass}} flexcol" autocomplete="off">
    <section class="toolsContainer grid grid-2col">
        {{#if (eq trait 'tools')}}
            <div>
                <h2>{{localize "tovu.tools.labels.arti"}}</h2>
                <ul>
                    {{#each gear.tools.artisan as |tool key| }}
                    <li><input type="checkbox" data-category="artisan" data-type="tools" data-key="{{key}}" name="system.gear.tools.artisan.{{key}}.label" {{checked tool.value}} > {{tool.label}}</li>
                    {{/each}}
                </ul>
                <span><input type="checkbox" data-category="unique" data-type="tools" data-key="disg" name="system.gear.tools.unique.disg.label" {{checked gear.tools.unique.disg.value}} > {{gear.tools.unique.disg.label}}</span>
                <span class="last"><input type="checkbox" data-category="unique" data-type="tools" data-key="forg" name="system.gear.tools.unique.forg.label" {{checked gear.tools.unique.forg.value}} > {{gear.tools.unique.forg.label}}</span>
                <h2>{{localize "tovu.tools.labels.gami"}}</h2>
                <ul>
                    {{#each gear.tools.gaming as |tool key| }}
                    <li><input type="checkbox" data-category="gaming" data-type="tools" data-key="{{key}}" name="system.gear.tools.{{key}}.label" {{checked tool.value}} > {{tool.label}}</li>
                    {{/each}}
                </ul>
                <span class="last"><input type="checkbox" data-category="unique" data-type="tools" data-key="herb" name="system.gear.tools.unique.herb.label" {{checked gear.tools.unique.herb.value}} > {{gear.tools.unique.herb.label}}</span>
            </div>
            <div>
                <h2>{{localize "tovu.tools.labels.inst"}}</h2>
                <ul>
                    {{#each gear.tools.instruments as |tool key| }}
                    <li><input type="checkbox" data-category="instruments" data-type="tools" data-key="{{key}}" name="system.gear.tools.{{key}}.label" {{checked tool.value}} > {{tool.label}}</li>
                    {{/each}}
                </ul>
                <span><input type="checkbox" data-category="unique" data-type="tools" data-key="navi" name="system.gear.tools.unique.navi.label" {{checked gear.tools.unique.navi.value}} > {{gear.tools.unique.navi.label}}</span>
                <span><input type="checkbox" data-category="unique" data-type="tools" data-key="pois" name="system.gear.tools.unique.pois.label" {{checked gear.tools.unique.pois.value}} > {{gear.tools.unique.pois.label}}</span>
                <span class="last"><input type="checkbox" data-category="unique" data-type="tools" data-key="thie" name="system.gear.tools.unique.thie.label" {{checked gear.tools.unique.thie.value}} > {{gear.tools.unique.thie.label}}</span>
                <h2>{{localize "tovu.tools.labels.vehi"}}</h2>
                <ul>
                    {{#each gear.tools.vehicles as |tool key| }}
                    <li><input type="checkbox" data-category="vehicles" data-type="tools" data-key="{{key}}" name="system.gear.tools.{{key}}.label" {{checked tool.value}} > {{tool.label}}</li>
                    {{/each}}
                </ul>
            </div>
        {{else}}
            <div class="martial">
                <span class="weapon"><input type="checkbox" name="system.gear.weapon.martial.all" data-label="martial" data-key="martial.all" class="weaponInput" {{checked gear.weapons.martial.all}} > <span class="label">{{localize 'tovu.weaponList.labels.all'}} {{localize 'tovu.weaponList.labels.mart'}} {{localize 'tovu.weaponList.labels.weap'}}</span></span>
                <div class="melee">
                    <h2>{{localize 'tovu.weaponList.labels.mart'}} {{localize 'tovu.weaponList.labels.mele'}}</h2>
                    <ul>
                    {{#each gear.weapons.martial.melee as |item key|}}
                        <li class="weapon"><input type="checkbox" name="system.gear.weapons.martial.melee.{{key}}.label" data-category="martial.melee" data-label="{{item.label}}" data-key="{{key}}" class="weaponInput martialWeapon" {{checked item.value}} > <span class="label">{{item.label}}</span></li>
                    {{/each}}
                    </ul>
                </div>
                <div class="range">
                    <h2>{{localize 'tovu.weaponList.labels.mart'}} {{localize 'tovu.weaponList.labels.rang'}}</h2>
                    <ul>
                    {{#each gear.weapons.martial.range as |item key|}}
                        <li class="weapon"><input type="checkbox" name="system.gear.weapons.martial.range.{{key}}.label" data-category="martial.range" data-label="{{item.label}}" data-key="{{key}}" class="weaponInput martialWeapon" {{checked item.value}} > <span class="label">{{item.label}}</span></li>
                    {{/each}}
                    </ul>
                </div>
            </div>
            <div class="simple">
                <div class="melee">
                    <span class="weapon"><input type="checkbox" name="system.gear.weapon.simple.all" data-label="simple" data-key="simple.all" class="weaponInput" {{checked gear.weapons.simple.all}} > <span class="label">{{localize 'tovu.weaponList.labels.all'}} {{localize 'tovu.weaponList.labels.simp'}} {{localize 'tovu.weaponList.labels.weap'}}</span></span>
                    <h2>{{localize 'tovu.weaponList.labels.simp'}} {{localize 'tovu.weaponList.labels.mele'}}</h2>
                    <ul>
                    {{#each gear.weapons.simple.melee as |item key|}}
                        <li class="weapon"><input type="checkbox" name="system.gear.weapons.simple.melee.{{key}}.label" data-category="simple.melee" data-label="{{item.label}}" data-key="{{key}}" class="weaponInput simpleWeapon" {{checked item.value}} > <span class="label">{{item.label}}</span></li>
                    {{/each}}
                    </ul>
                </div>
                <div class="range">
                    <h2>{{localize 'tovu.weaponList.labels.simp'}} {{localize 'tovu.weaponList.labels.rang'}}</h2>
                    <ul>
                    {{#each gear.weapons.simple.range as |item key|}}
                        <li class="weapon"><input type="checkbox" name="system.gear.weapons.simple.range.{{key}}.label" data-category="simple.range" data-label="{{item.label}}" data-key="{{key}}" class="weaponInput simpleWeapon" {{checked item.value}} > <span class="label">{{item.label}}</span></li>
                    {{/each}}
                    </ul>
                </div>
            </div>
        {{/if}}

    </section>
</form>
