<form class="{{cssClass}} flexcol" autocomplete="off">
    <section class="sensesSheet">
        <h2>{{localize "tovu.senses.label"}}: </h2>
        <div class="grid grid-2col">{{localize configSenses.blin}}: <input type="text" class="senseInput" data-key="blin" data-label="{{localize configSenses.blin}}" value="{{actorSenses.blin.value}}" name="system.senses.blin" /></div>
        <div class="grid grid-2col">{{localize configSenses.dark}}: <input type="text" class="senseInput" data-key="dark" data-label="{{localize configSenses.dark}}" value="{{actorSenses.dark.value}}" name="system.senses.dark" /></div>
        <div class="grid grid-2col">{{localize configSenses.supe}}: <input type="text" class="senseInput" data-key="supe" data-label="{{localize configSenses.supe}}" value="{{actorSenses.supe.value}}" name="system.senses.supe" /></div>
        <div class="grid grid-2col">{{localize configSenses.trem}}: <input type="text" class="senseInput" data-key="trem" data-label="{{localize configSenses.trem}}" value="{{actorSenses.trem.value}}" name="system.senses.trem" /></div>
        <div class="grid grid-2col">{{localize configSenses.tsig}}: <input type="text" class="senseInput" data-key="true" data-label="{{localize configSenses.tsig}}" value="{{actorSenses.tsig.value}}" name="system.senses.true" /></div>
    </section>
</form>
