<form class="{{cssClass}} flexcol" autocomplete="off">
    <section class="toolsContainer grid grid-2col">
        <div>
            <h2>{{localize "tovu.tools.artisan.arti"}}</h2>
            <ul>
                {{#each artisanTools as |tool key| }}
                <li><input type="checkbox" data-category="artisan" data-key="{{key}}" name="system.gear.tools.artisan.{{key}}.label" {{#if tool.value }} checked {{/if}} > {{tool.label}}</li>
                {{/each}}
            </ul>
            <span><input type="checkbox" data-category="unique" data-key="disg" name="system.gear.tools.disg.label" {{#if uniqueTools.disg.value}} checked {{/if}} > {{uniqueTools.disg.label}}</span>
            <span class="last"><input type="checkbox" data-category="unique" data-key="forg" name="system.gear.tools.forg.label" {{#if uniqueTools.forg.value}} checked {{/if}} > {{uniqueTools.forg.label}}</span>
            <h2>{{localize "tovu.tools.gaming.gami"}}</h2>
            <ul>
                {{#each gamingTools as |tool key| }}
                <li><input type="checkbox" data-category="gaming" data-key="{{key}}" name="system.gear.tools.{{key}}.label" {{#if tool.value }} checked {{/if}} > {{tool.label}}</li>
                {{/each}}
            </ul>
            <span class="last"><input type="checkbox" data-category="unique" data-key="herb" name="system.gear.tools.herb.label" {{#if uniqueTools.herb.value}} checked {{/if}} > {{uniqueTools.herb.label}}</span>
        </div>
        <div>
            <h2>{{localize "tovu.tools.instruments.inst"}}</h2>
            <ul>
                {{#each instruments as |tool key| }}
                <li><input type="checkbox" data-category="instruments" data-key="{{key}}" name="system.gear.tools.{{key}}.label" {{#if tool.value }} checked {{/if}} > {{tool.label}}</li>
                {{/each}}
            </ul>
            <span><input type="checkbox" data-category="unique" data-key="navi" name="system.gear.tools.navi.label" {{#if uniqueTools.navi.value}} checked {{/if}} > {{uniqueTools.navi.label}}</span>
            <span><input type="checkbox" data-category="unique" data-key="pois" name="system.gear.tools.pois.label" {{#if uniqueTools.pois.value}} checked {{/if}} > {{uniqueTools.pois.label}}</span>
            <span class="last"><input type="checkbox" data-category="unique" data-key="thie" name="system.gear.tools.thie.label" {{#if uniqueTools.thie.value}} checked {{/if}} > {{uniqueTools.thie.label}}</span>
            <h2>{{localize "tovu.tools.vehicle.vehi"}}</h2>
            <ul>
                {{#each vehicles as |tool key| }}
                <li><input type="checkbox" data-category="vehicles" data-key="{{key}}" name="system.gear.tools.{{key}}.label" {{#if tool.value }} checked {{/if}} > {{tool.label}}</li>
                {{/each}}
            </ul>
        </div>
    </section>
</form>
