<form class="{{cssClass}} flexcol" autocomplete="off">
    <section class="specsSheet">
        {{#if (eq trait 'senses')}}
            <h2>{{localize "tovu.senses.label"}}: </h2>
            {{#each actorObj.senses as |item key|}}
            <div class="grid grid-2col">{{item.label}}: <input type="text" class="senseInput" data-key="{{key}}" data-label="{{item.label}}" value="{{item.value}}" name="system.senses.{{key}}" /></div>
            {{/each}}
        {{else if (eq trait 'immune')}}
            <h2>{{localize "tovu.immune"}}</h2>
            {{#each actorObj.immune as |item key|}}
            <div class="immune"><input type="checkbox" name="system.immune.{{key}}" data-label="{{item.label}}" data-key="{{key}}" class="senseInput" {{checked item.value}} > <span class="label">{{item.label}}</span></div>
            {{/each}}
        {{else if (eq trait 'resist')}}
            <h2>{{localize "tovu.resist"}}</h2>
            {{#each actorObj.resist as |item key|}}
            <div class="resist"><input type="checkbox" name="system.resist.{{key}}" data-label="{{item.label}}" data-key="{{key}}" class="senseInput" {{checked item.value}} > <span class="label">{{item.label}}</span></div>
            {{/each}}
        {{else if (eq trait 'vulnerable')}}
            <h2>{{localize "tovu.vulnerable"}}</h2>
            {{#each actorObj.vulnerable as |item key|}}
            <div class="vulnerable"><input type="checkbox" name="system.vulnerable.{{key}}" data-label="{{item.label}}" data-key="{{key}}" class="senseInput" {{checked item.value}} > <span class="label">{{item.label}}</span></div>
            {{/each}}
        {{else if (eq trait 'condition')}}
            <h2>{{localize "tovu.condition.label"}}</h2>
            {{#each actorObj.condition as |item key|}}
            <div class="condition"><input type="checkbox" name="system.condition.{{key}}" data-label="{{item.label}}" data-key="{{key}}" class="senseInput" {{checked item.value}} > <span class="label">{{item.label}}</span></div>
            {{/each}}
        {{/if}}
    </section>
</form>
