<form class="{{cssClass}} flexcol" autocomplete="off">
    <section class="sensesContainer">
        <div>
            <span>{{localize "tovu.senses.label"}}: </span>
            <ul>
                <li class="grid grid-2col">{{localize configSenses.blin}} <input type="text" class="senseInput" data-key="blin" value="{{actorSenses.blin}}" name="system.senses.blin" /></li>
                <li class="grid grid-2col">{{localize configSenses.dark}} <input type="text" class="senseInput" data-key="dark" value="{{actorSenses.dark}}" name="system.senses.dark" /></li>
                <li class="grid grid-2col">{{localize configSenses.supe}} <input type="text" class="senseInput" data-key="supe" value="{{actorSenses.supe}}" name="system.senses.supe" /></li>
                <li class="grid grid-2col">{{localize configSenses.trem}} <input type="text" class="senseInput" data-key="trem" value="{{actorSenses.trem}}" name="system.senses.trem" /></li>
                <li class="grid grid-2col">{{localize configSenses.tsig}} <input type="text" class="senseInput" data-key="true" value="{{actorSenses.tsig}}" name="system.senses.true" /></li>
            </ul>
        </div>
    </section>
</form>
