<form class="{{cssClass}} flexcol" autocomplete="off">
    <section class="specsSheet">
        {{#if (eq trait 'senses')}}
            <h2>{{localize "tovu.senses.label"}}: </h2>
            <div class="grid grid-2col">{{localize configObject.senses.blin}}: <input type="text" class="senseInput" data-key="blin" data-label="{{localize configObject.senses.blin}}" value="{{actorObject.senses.blin.value}}" name="system.senses.blin" /></div>
            <div class="grid grid-2col">{{localize configObject.senses.dark}}: <input type="text" class="senseInput" data-key="dark" data-label="{{localize configObject.senses.dark}}" value="{{actorObject.senses.dark.value}}" name="system.senses.dark" /></div>
            <div class="grid grid-2col">{{localize configObject.senses.supe}}: <input type="text" class="senseInput" data-key="supe" data-label="{{localize configObject.senses.supe}}" value="{{actorObject.senses.supe.value}}" name="system.senses.supe" /></div>
            <div class="grid grid-2col">{{localize configObject.senses.trem}}: <input type="text" class="senseInput" data-key="trem" data-label="{{localize configObject.senses.trem}}" value="{{actorObject.senses.trem.value}}" name="system.senses.trem" /></div>
            <div class="grid grid-2col">{{localize configObject.senses.tsig}}: <input type="text" class="senseInput" data-key="true" data-label="{{localize configObject.senses.tsig}}" value="{{actorObject.senses.tsig.value}}" name="system.senses.true" /></div>
            <div class="grid grid-2col">{{localize configObject.senses.othe}}: <input type="text" class="senseInput" data-key="true" data-label="{{localize configObject.senses.othe}}" value="{{actorObject.senses.othe.value}}" name="system.senses.othe" /></div>
        {{else if (eq trait 'immune')}}
            <h2>{{localize "tovu.immune"}}</h2>
            <div class="immune"><input type="checkbox" name="system.immune.acid" data-label="{{localize configObject.damageType.acid}}" data-key="acid" class="senseInput" {{checked actorObject.immune.acid.value}} > <span class="lable">{{localize configObject.damageType.acid}}</span></div>
            <div class="immune"><input type="checkbox" name="system.immune.blud" data-label="{{localize configObject.damageType.blud}}" data-key="blud" class="senseInput" {{checked actorObject.immune.blud.value}} > <span class="lable">{{localize configObject.damageType.blud}}</span></div>
            <div class="immune"><input type="checkbox" name="system.immune.cold" data-label="{{localize configObject.damageType.cold}}" data-key="cold" class="senseInput" {{checked actorObject.immune.cold.value}} > <span class="lable">{{localize configObject.damageType.cold}}</span></div>
            <div class="immune"><input type="checkbox" name="system.immune.fire" data-label="{{localize configObject.damageType.fire}}" data-key="fire" class="senseInput" {{checked actorObject.immune.fire.value}} > <span class="lable">{{localize configObject.damageType.fire}}</span></div>
            <div class="immune"><input type="checkbox" name="system.immune.forc" data-label="{{localize configObject.damageType.forc}}" data-key="forc" class="senseInput" {{checked actorObject.immune.forc.value}} > <span class="lable">{{localize configObject.damageType.forc}}</span></div>
            <div class="immune"><input type="checkbox" name="system.immune.ligh" data-label="{{localize configObject.damageType.ligh}}" data-key="ligh" class="senseInput" {{checked actorObject.immune.ligh.value}} > <span class="lable">{{localize configObject.damageType.ligh}}</span></div>
            <div class="immune"><input type="checkbox" name="system.immune.necr" data-label="{{localize configObject.damageType.necr}}" data-key="necr" class="senseInput" {{checked actorObject.immune.necr.value}} > <span class="lable">{{localize configObject.damageType.necr}}</span></div>
            <div class="immune"><input type="checkbox" name="system.immune.pier" data-label="{{localize configObject.damageType.pier}}" data-key="pier" class="senseInput" {{checked actorObject.immune.pier.value}} > <span class="lable">{{localize configObject.damageType.pier}}</span></div>
            <div class="immune"><input type="checkbox" name="system.immune.pois" data-label="{{localize configObject.damageType.pois}}" data-key="pois" class="senseInput" {{checked actorObject.immune.pois.value}} > <span class="lable">{{localize configObject.damageType.pois}}</span></div>
            <div class="immune"><input type="checkbox" name="system.immune.psyc" data-label="{{localize configObject.damageType.psyc}}" data-key="psyc" class="senseInput" {{checked actorObject.immune.psyc.value}} > <span class="lable">{{localize configObject.damageType.psyc}}</span></div>
            <div class="immune"><input type="checkbox" name="system.immune.radi" data-label="{{localize configObject.damageType.radi}}" data-key="radi" class="senseInput" {{checked actorObject.immune.radi.value}} > <span class="lable">{{localize configObject.damageType.radi}}</span></div>
            <div class="immune"><input type="checkbox" name="system.immune.slas" data-label="{{localize configObject.damageType.slas}}" data-key="slas" class="senseInput" {{checked actorObject.immune.slas.value}} > <span class="lable">{{localize configObject.damageType.slas}}</span></div>
            <div class="immune"><input type="checkbox" name="system.immune.thun" data-label="{{localize configObject.damageType.thun}}" data-key="thun" class="senseInput" {{checked actorObject.immune.thun.value}} > <span class="lable">{{localize configObject.damageType.thun}}</span></div>
        {{/if}}
    </section>
</form>
