<section class="characterSidebar">
    <div class="hitpointContainer">
        <div>
            <label>
                <span>Hit Points: {{actor.system.hp.core}}</span>
            </label>
            <div class="grid grid-3col">
                <div class="hpValues">
                    <label>Current: </label>
                    <input class="inline-edit" data-field="actor.system.hp.min" name="system.hp.min" type="text" value="{{actor.system.hp.min}}" data-dtype="Number" />
                </div>
                <div class="hpValues">
                    <label>Max: </label>
                    <input class="inline-edit" data-field="actor.system.hp.max" name="system.hp.max" type="text" value="{{actor.system.hp.max}}" data-dtype="Number" />
                </div>
                <div class="hpValues">
                    <label>Temp: </label>
                    <input class="inline-edit" data-field="actor.system.hp.temp" name="system.hp.temp" type="text" value="{{actor.system.hp.temp}}" data-dtype="Number" />
                </div>
            </div>
        </div>
        <div class="hitDiceContainer">
            <label>
                Hit Dice:
            </label>
            <div class="grid grid-4col hitDiceLoc">
                <span>
                    <input type="text" name="system.hitDice.min" value="{{actor.system.hitDice.min}}" />
                </span>
                <span>
                    /
                </span>
                <span>
                    {{actor.system.hitDice.max}}
                </span>
                <span>
                    <button data-roll="d{{actor.system.hitDice.value}}+@abilities.con.mod" >
                        <i class="fa-solid fa-dice"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="exhaustionContainer">
            <label>
                Exhaustion
            </label>
            <div class="grid grid-6col">
            {{#times 6 actor }}
            <button id="{{index}}" class="exhaustionMarker">
                {{#if (gt actor.system.exhaustion.level index)}}
                    <i class="fa-solid fa-circle"></i>
                {{else}}
                    <i class="fa-regular fa-circle"></i>
                {{/if}}
            </button>
            {{/times}}
            </div>
        </div>
    </div>
    <div class="armorClass">
        <div>
            <h4>{{localize 'tovu.characterLabels.armorClass'}}:</h4>
            <div class="grid-2col">
                <label>{{localize 'tovu.characterLabels.ac'}}: {{actor.system.ac.value}}</label>
                <label>{{localize 'tovu.characterLabels.speed'}}: {{actor.system.speed.value}}</label>
            </div>
        </div>
        <div class="grid grid-2col">
            <div class="initiative">
                <label>{{localize 'tovu.characterLabels.init'}}:</label>
                <button data-roll="d20+@abilities.dex.mod" >{{numberFormat actor.system.abilities.dex.mod decimals=0 sign=true}}</button>
            </div>
            <div class="profBonus">
                <label>{{localize 'tovu.characterLabels.profBonus'}}:</label>
                <div>{{numberFormat actor.system.proficiency.base decimals=0 sign=true}}</div>
            </div>
        </div>
    </div>
    <div class="luckPointsContainer">
        <h4 class="grid-span-2">{{localize 'tovu.characterLabels.luckPoints'}}</h4>
        <div class="grid grid-2col">
            <div class="luckPoints">
                <label>{{localize 'tovu.characterLabels.current'}}: </label>
                <input class="inline-edit" data-field="actor.system.luck.value" name="system.luck.value" type="text" value="{{actor.system.luck.value}}" data-dtype="Number" />
            </div>
            <div class="luckPoints">
                <label>{{localize 'tovu.characterLabels.max'}}:</label>
                <div>{{actor.system.luck.max}}</div>
            </div>
        </div>
    </div>
    <div class="passives">
        <h4>{{localize 'tovu.characterLabels.passives'}}:</h4>
        <div>
            {{localize 'tovu.skills.ins'}}: {{actor.system.skills.ins.passive}}
        </div>
        <div>
            {{localize 'tovu.skills.inv'}}: {{actor.system.skills.inv.passive}}
        </div>
        <div>
            {{localize 'tovu.skills.per'}}: {{actor.system.skills.per.passive}}
        </div>
    </div>
    <div class="deathSaves">
        <button data-roll="d20" class="deathSavesRoller">
            <i class="fa-solid fa-skull"></i> {{localize 'tovu.characterLabels.deathSave'}}
        </button>
        <div class="savesContainer grid grid-2col">
            <div class="savesButtons">
                {{#times 3 actor }}
                <button
                numId="{{index}}"
                type="save"
                name="system.deathSaves.save.{{index}}"
                value="{{actor.system.deathSaves.save.[index]}}"
                class="proficiencyButton deathSave inline-edit">
                {{#if (eq (lookup actor.system.deathSaves.save index) 0)}}
                    <i class="fa-regular fa-circle"></i>
                {{else}}
                    <i class="fa-solid fa-circle"></i>
                {{/if}}
                </button>
                {{/times}}
            </div>
            <div class="savesLabel">{{localize 'tovu.characterLabels.success'}}</div>
        </div>
        <div class="savesContainer grid grid-2col">
            <div class="savesButtons">
                {{#times 3 actor }}
                <button
                numId="{{index}}"
                type="fail"
                name="system.deathSaves.fail.{{index}}"
                value="{{actor.system.deathSaves.fail.[index]}}"
                class="proficiencyButton deathSave inline-edit">
                {{#if (eq (lookup actor.system.deathSaves.fail index) 0)}}
                    <i class="fa-regular fa-circle"></i>
                {{else}}
                    <i class="fa-solid fa-circle"></i>
                {{/if}}
                </button>
                {{/times}}
            </div>
            <div class="savesLabel">{{localize 'tovu.characterLabels.failure'}}</div>
        </div>
    </div>
</section>
